<a href="https://colab.research.google.com/github/ergonrizky26/habis-kerja-data-science-practice/blob/DS001/%5BModul_4_Habis_Kerja%5D_Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selamat Datang di Notebook Modul 4 Habis Kerja!

Berikut ini adalah tutorial Notebook mengenai dasar-dasar Python untuk Data Scientist yang berisi :

***Basic Components***


1.   Variabel dan Tipe Data
2.   Artmatika dan Logika
3.   Function

***Packages***
1. Pandas dan Numpy
2. Matplotlib
3. Scikit-learn

# Basic Components

## 1. Variable dan Tipe Data

In [1]:
# Assign data ke variable
x = 1995
y = "Hello World"
z = 3.5

In [2]:
# Print variable
print(x)
print(y, z)

1995
Hello World 3.5

In [4]:
# Penamaan variable tidak bisa didahului angka
# 1 = 1990

In [6]:
# Penamaan variable tidak bisa dengan spasi
# x y = 1

In [7]:
# Penamaan dua variable atau lebih, bisa dalam satu baris
x, y, m, n = 1900, "Hello World!", 'a', 1.5

In [10]:
# String
nama = "Hello World!"
angka = "3.5"
nol = '0'
hari = "jum'at"
rata_rata = 'rata"'

In [11]:
print(nol)

0

In [12]:
print(hari)

jum'at

In [13]:
print(rata_rata)

rata"

In [14]:
# Integer
satu = 1

In [15]:
# Float
satu_koma_lima = 1.5

In [17]:
# Float
satu = 1.

In [18]:
print(satu)

1.0

In [23]:
# Boolean
betul = False
komparasi = satu == 1

In [20]:
satu == 1

True

In [24]:
# List
biodata = ["Mike", 165, 35.4]

In [25]:
biodata[2]

35.4

In [26]:
biodata[2] = 40

In [27]:
print(biodata)

['Mike', 165, 40]

In [30]:
# Tuple
biodata_tuple = ("Mike", 160, 40)

In [32]:
# Tuple bersifat Imutable
biodata_tuple[2] = 42

TypeError: ignored

In [33]:
# Set
biodata_set = {"Mike", 165, 60}

In [34]:
biodata_set

{165, 60, 'Mike'}

In [35]:
# Dictionary
biodata_dictionary = {"Nama" : "Mike",
                      "Tinggi" : 160,
                      "Berat" : 65}

In [36]:
biodata_dictionary.keys()

dict_keys(['Nama', 'Tinggi', 'Berat'])

In [38]:
biodata_dictionary.values()

dict_values(['Mike', 160, 65])

In [39]:
biodata_dictionary["Nama"]

'Mike'

In [40]:
biodata_dictionary["Nama"] = "Miki"

In [41]:
biodata_dictionary["Nama"]

'Miki'

In [42]:
biodata_dictionary

{'Nama': 'Miki', 'Tinggi': 160, 'Berat': 65}

## 2. Aritmatika dan Logika

In [43]:
# KaBaTaKu
print(1990 + 1.5)
print("Hello" + "World")

1991.5
HelloWorld

In [44]:
y = 160 - 75 * 15 + 100
print(y)

-865

In [45]:
# Pangkat
p = 2**3
print(p)

8

In [46]:
# Modulo
print(10 % 3)
print(2 % 2)

1
0

In [49]:
print(10 / 3)

# Floor (hasil bagi pembulatan ke bawah)
print(10 // 3)

3.3333333333333335
3

In [50]:
# IF
nilai = 80
if nilai >= 75:
  print("Kamu Lulus!")

Kamu Lulus!

In [51]:
# IF ELSE
nilai = 74
if nilai >= 75:
  print("Kamu Lulus!")
else:
  print("Kamu Tidak Lulus!")

Kamu Tidak Lulus!

In [56]:
# FOR LOOP
my_list = [1, 20, 300]
for i in my_list:
  print(i)

1
20
300

In [57]:
a = 2
b = 3
un = a
for i in range(0, 10):
  print(i)
  un = un + b
print(un)

0
1
2
3
4
5
6
7
8
9
32

In [58]:
# WHILE LOOP
cnt = 0
while cnt < 6:
  cnt += 1
  print(cnt)

1
2
3
4
5
6

In [59]:
a = 2
b = 3
un = a
while (un <= 300):
  un = un + b
print(un)

302