<a href="https://colab.research.google.com/github/ergonrizky26/habis-kerja-data-science-practice/blob/DS001/%5BModul_4_Habis_Kerja%5D_Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selamat Datang di Notebook Modul 4 Habis Kerja!

Berikut ini adalah tutorial Notebook mengenai dasar-dasar Python untuk Data Scientist yang berisi :

***Basic Components***


1.   Variabel dan Tipe Data
2.   Artmatika dan Logika
3.   Function

***Packages***
1. Pandas dan Numpy
2. Matplotlib
3. Scikit-learn

# Basic Components

## 1. Variable dan Tipe Data

In [1]:
# Assign data ke variable
x = 1995
y = "Hello World"
z = 3.5

In [2]:
# Print variable
print(x)
print(y, z)

1995
Hello World 3.5

In [3]:
# Penamaan variable tidak bisa didahului angka
# 1 = 1990

In [4]:
# Penamaan variable tidak bisa dengan spasi
# x y = 1

In [5]:
# Penamaan dua variable atau lebih, bisa dalam satu baris
x, y, m, n = 1900, "Hello World!", 'a', 1.5

In [6]:
# String
nama = "Hello World!"
angka = "3.5"
nol = '0'
hari = "jum'at"
rata_rata = 'rata"'

In [7]:
print(nol)

0

In [8]:
print(hari)

jum'at

In [9]:
print(rata_rata)

rata"

In [10]:
# Integer
satu = 1

In [11]:
# Float
satu_koma_lima = 1.5

In [12]:
# Float
satu = 1.

In [13]:
print(satu)

1.0

In [14]:
# Boolean
betul = False
komparasi = satu == 1

In [15]:
satu == 1

True

In [16]:
# List
biodata = ["Mike", 165, 35.4]

In [17]:
biodata[2]

35.4

In [18]:
biodata[2] = 40

In [19]:
print(biodata)

['Mike', 165, 40]

In [20]:
# Tuple
biodata_tuple = ("Mike", 160, 40)

In [22]:
# Tuple bersifat Imutable
biodata_tuple[2] = 42

TypeError: ignored

In [23]:
# Set
biodata_set = {"Mike", 165, 60}

In [24]:
biodata_set

{165, 60, 'Mike'}

In [25]:
# Dictionary
biodata_dictionary = {"Nama" : "Mike",
                      "Tinggi" : 160,
                      "Berat" : 65}

In [26]:
biodata_dictionary.keys()

dict_keys(['Nama', 'Tinggi', 'Berat'])

In [27]:
biodata_dictionary.values()

dict_values(['Mike', 160, 65])

In [28]:
biodata_dictionary["Nama"]

'Mike'

In [29]:
biodata_dictionary["Nama"] = "Miki"

In [30]:
biodata_dictionary["Nama"]

'Miki'

In [31]:
biodata_dictionary

{'Nama': 'Miki', 'Tinggi': 160, 'Berat': 65}

## 2. Aritmatika dan Logika

In [32]:
# KaBaTaKu
print(1990 + 1.5)
print("Hello" + "World")

1991.5
HelloWorld

In [33]:
y = 160 - 75 * 15 + 100
print(y)

-865

In [34]:
# Pangkat
p = 2**3
print(p)

8

In [35]:
# Modulo
print(10 % 3)
print(2 % 2)

1
0

In [36]:
print(10 / 3)

# Floor (hasil bagi pembulatan ke bawah)
print(10 // 3)

3.3333333333333335
3

In [37]:
# IF
nilai = 80
if nilai >= 75:
  print("Kamu Lulus!")

Kamu Lulus!

In [38]:
# IF ELSE
nilai = 74
if nilai >= 75:
  print("Kamu Lulus!")
else:
  print("Kamu Tidak Lulus!")

Kamu Tidak Lulus!

In [39]:
# FOR LOOP
my_list = [1, 20, 300]
for i in my_list:
  print(i)

1
20
300

In [40]:
a = 2
b = 3
un = a
for i in range(0, 10):
  print(i)
  un = un + b
print(un)

0
1
2
3
4
5
6
7
8
9
32

In [41]:
# WHILE LOOP
cnt = 0
while cnt < 6:
  cnt += 1
  print(cnt)

1
2
3
4
5
6

In [42]:
a = 2
b = 3
un = a
while (un <= 300):
  un = un + b
print(un)

302

## 3. Function

In [43]:
# Tanpa menggunakan function
a = 2
b = 3
a_kuadrat = a ** 2
b_kuadrat = b ** 2

print(a_kuadrat, b_kuadrat)

4 9

In [44]:
# Menggunakan function
def kuadrat(angka):
  return angka ** 2

print(kuadrat(a))
print(kuadrat(b))

4
9

In [45]:
def pangkat_angka(angka, pangkat):
  return angka ** pangkat

a = 3
b = 4
a_pangkat = pangkat_angka(a, 2)
b_pangkat = pangkat_angka(b, 3)

print(a_pangkat, b_pangkat)

9 64

In [46]:
def pangkat_angka(angka, pangkat, tambah):
  return angka ** pangkat + tambah

a = 3
b = 4
a_pangkat = pangkat_angka(a, 2, 10)
b_pangkat = pangkat_angka(b, 3, 10)

print(a_pangkat, b_pangkat)

19 74

In [47]:
# Build in function
list_saya = [1, 5, 4, 17, 11]
minimum = min(list_saya)
maximum = max(list_saya)

print(minimum, maximum)
print(list_saya)
sorted(list_saya)

1 17
[1, 5, 4, 17, 11]

[1, 4, 5, 11, 17]

In [48]:
# Map function
# Define list
nilai = [98, 57, 75]

# Apply "kuadrat" function to "nilai" list
print(list(map(kuadrat, nilai)))

[9604, 3249, 5625]

In [49]:
# Define list
biodata = ['mike', 'tomy', 'ben']

# Apply "list" function to "biodata" list
print(list(map(list, biodata)))

[['m', 'i', 'k', 'e'], ['t', 'o', 'm', 'y'], ['b', 'e', 'n']]

In [50]:
# Lambda Function
# Define list
nilai = [98, 57, 75]

# Apply "kuadrat" function to "nilai" list
print(list(map(kuadrat, nilai)))
print(list(map(lambda x: x**2, nilai)))

[9604, 3249, 5625]
[9604, 3249, 5625]